.header {
    grid-area: h;
    background-color: wheat;
}

.header img {
    width: 50px;
    border-radius: 30px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: black;
    text-decoration: none;
}

/* text-decoration: none;
}

.elem .activeLink {
  color: rgb(38, 0, 255);
  cursor: default;
  text-decoration: none;
} */